# Initial Exploratory Analysis to Understand the Data

In [10]:
import pandas as pd

# Load your data
data = pd.read_csv('/Users/shreyasagar/Desktop/Shreya/SEM 4/Dataset/Data.csv')
data.head()

/Users/shreyasagar/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Sr. No,GeoAreaCode,Country,Latitude,Longitude,Year,Goal,Objective,Subcategory,Indicator,Value,ValueType,Value_Mapping
0,1,8,Albania,41.153332,20.168331,2002,1,1,1,111,1.1,PERCENT,1
1,2,8,Albania,41.153332,20.168331,2005,1,1,1,111,0.6,PERCENT,1
2,3,8,Albania,41.153332,20.168331,2008,1,1,1,111,0.2,PERCENT,1
3,4,8,Albania,41.153332,20.168331,2012,1,1,1,111,0.6,PERCENT,1
4,5,8,Albania,41.153332,20.168331,2014,1,1,1,111,1.0,PERCENT,1

In [11]:
# Check data types and null values
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491255 entries, 0 to 491254
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Sr. No         491255 non-null  int64
 1   GeoAreaCode    491255 non-null  int64
 2   Country        488009 non-null  object
 3   Latitude       488009 non-null  float64
 4   Longitude      488009 non-null  float64
 5   Year           491255 non-null  int64
 6   Goal           491255 non-null  int64
 7   Objective      491255 non-null  int64
 8   Subcategory    491255 non-null  int64
 9   Indicator      491255 non-null  int64
 10  Value          464999 non-null  object
 11  ValueType      491255 non-null  object
 12  Value_Mapping  491255 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 48.7+ MB
None

In [12]:
# Summary statistics
print(data.describe())

              Sr. No    GeoAreaCode       Latitude      Longitude  \
count  491255.000000  491255.000000  488009.000000  488009.000000
mean   245628.000000     429.510262      16.844363      14.499934
std    141813.247583     252.425607      24.352451      68.750829
min         1.000000       4.000000     -54.429579    -175.198242
25%    122814.500000     212.000000      -0.023559     -15.310139
50%    245628.000000     426.000000      15.870032      19.503304
75%    368441.500000     643.000000      38.963745      46.199616
max    491255.000000     894.000000      71.706936     179.414413

                Year           Goal      Objective    Subcategory  \
count  491255.000000  491255.000000  491255.000000  491255.000000
mean     2011.938476       8.892974       6.207322       1.230102
std         6.224858       7.145471       4.596973       0.508103
min      2000.000000       1.000000       1.000000       1.000000
25%      2007.000000       2.000000       2.000000       1.000000
50%      2013.000000       7.000000       5.000000       1.000000
75%      2017.000000      17.000000      11.000000       1.000000
max      2022.000000      17.000000      19.000000       4.000000

           Indicator  Value_Mapping
count  491255.000000  491255.000000
mean     5456.220851       3.716587
std      7553.854545       4.256662
min       111.000000       1.000000
25%       221.000000       1.000000
50%       741.000000       1.000000
75%     17111.000000       6.000000
max     17192.000000      16.000000

In [13]:
# Check and handle missing data
print(data.isnull().sum())
# Handle missing data (e.g., impute or drop rows/columns)

Sr. No               0
GeoAreaCode          0
Country           3246
Latitude          3246
Longitude         3246
Year                 0
Goal                 0
Objective            0
Subcategory          0
Indicator            0
Value            26256
ValueType            0
Value_Mapping        0
dtype: int64

In [14]:
duplicates = data[data.duplicated()]
print("\nDuplicate rows:")
print(duplicates)

Duplicate rows:
Empty DataFrame
Columns: [Sr. No, GeoAreaCode, Country, Latitude, Longitude, Year, Goal, Objective, Subcategory, Indicator, Value, ValueType, Value_Mapping]
Index: []